@use "../../../styles/" as variables;

.combobox {
    position: relative;
    display: inline-block;
    width: 200px;
}

.combobox label {
    display: block;
    margin-bottom: 5px;
}

.combobox input {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--color-shadow) 0px 2px 8px 0px;
    background-color: var(--color-with);
    border: none;
    @extend %text;
    font-size: large;
}

.combobox ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-with);
    border-radius: 4px;
    list-style: none;
    padding: 10px;
    margin: 5px;
    max-height: 200px;
    overflow-y: auto;

    @extend %scrollbar;
}

.combobox ul li {
    padding: 5px;
    cursor: pointer;
    color: var(--color-dark);
}

.combobox ul li:hover {
    background-color: var(--color-gray);
}

.combobox input:focus+ul {
    display: block;
}